<div class="trip">
  <div class="container">
    <span class="origin-item">{{
      (trip.Leg | forcelist)[0].Origin.name.split(",")[0]
    }}</span>

    <div class="lines">
      <span
        class="line-item"
        *ngFor="let leg of trip.Leg | forcelist"
        [style.color]="leg.fgColor"
        [style.backgroundColor]="leg.bgColor"
        >{{ leg.sname }}
        <i *ngIf="leg.type === 'WALK'" class="ph-person-simple-walk"></i
      ></span>
    </div>

    <div class="time">
      <span class="time-item">{{ (trip.Leg | forcelist)[0].Origin.time }}</span>
      <span> - </span>
      <span class="time-item">{{
        (trip.Leg | forcelist)[(trip.Leg | forcelist).length - 1].Destination
          .time
      }}</span>
    </div>

    <div class="icon">
      <i
        class="ph-caret-down"
        [ngClass]="{ active: open }"
        (click)="handleDetails()"
      ></i>
    </div>
  </div>
</div>

<app-trip-details *ngIf="open" [details]="details"></app-trip-details>
