.trip {
  margin: 0.4rem;
  border-radius: 12px;
}

.container {
  display: grid;
  grid-template-columns: 3fr 2fr 1fr 1fr;
  gap: 5rem;
  place-items: center;
  padding: 0.4rem 5.4rem;
  border-radius: 12px;
  background-color: #9199a5;
  color: #07080a;
}

.origin-item {
  font-size: 1.4rem;
  font-weight: 600;
}

.lines {
  display: flex;
  gap: 0.4rem;
}

.time {
  display: flex;
  gap: 0.4rem;
  font-size: 1.2rem;
  font-weight: 700;
}

.line-item {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  padding: 0.125rem 0.375rem;
  border-radius: 4px;
  background-color: #dadde1;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.icon i {
  font-size: 2rem;
  padding: 0.2rem;
  border-radius: 50%;
  background-color: #7e8896;
  color: #07080a;
}

.icon i:hover {
  background-color: #323b4a;
  color: #a3aab4;
}

.active {
  transform: rotate(180deg);
}

@media only screen and (max-width: 752px) {
  .container {
    gap: 0.2rem;
    padding: 0.4rem 0.2rem;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .origin-item {
    grid-column: 1 / 3;
    grid-row: 1;
  }

  .lines {
    grid-column: 1 / 3;
    grid-row: 2;
  }

  .time {
    grid-column: 3;
    grid-row: 2;
  }

  .icon {
    grid-column: 3;
    grid-row: 1;
  }
}
