<div class="search-item" [ngClass]="{ template: templateElement }">
  <div class="title">
    <div class="icon">
      <i
        class="ph-arrows-out-cardinal"
        [style.opacity]="templateElement ? 0 : 1"
      ></i>
    </div>

    <form [formGroup]="searchForm" (ngSubmit)="search()">
      <input
        type="text"
        formControlName="search"
        [value]="targetStop"
        (focus)="openPattern()"
        (blur)="closePattern()"
      />
    </form>
  </div>

  <div class="icon">
    <i
      class="ph-x clickable"
      (click)="toggleActive()"
      [ngClass]="{ transformed: templateElement }"
    ></i>
  </div>
</div>
<div *ngIf="pattern">
  <button
    class="container"
    *ngFor="let pattern of patternMatching$ | async; let i = index"
    [style]="'top:' + (3.2 + 2.5 * i) + 'rem'"
    (click)="setParam(pattern)"
  >
    <span>
      {{ pattern }}
    </span>
  </button>
</div>
