* {
  transition: 0.3s;
}

.search-item {
  display: flex;
  gap: 2rem;
  align-items: center;
  height: 4rem;
  background-color: #2b333f;
  border-radius: 12px;
  margin: 0.4rem 0.4rem 0 0.4rem;
  padding: 0 2rem;
  width: 30rem;
}

.title {
  display: flex;
  align-items: center;
}

i {
  color: #0e1115;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon i {
  font-size: 2.4rem;
  padding: 0.4rem;
  border-radius: 50%;
  margin: 0.4rem;
}

.clickable {
  background-color: #b5bbc3;
  color: #0e1115;
}

.clickable:hover {
  background-color: #2b333f;
  color: #b5bbc3;
  cursor: pointer;
}

input {
  width: 20rem;
  height: 2.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 12px;
  padding-left: 1rem;
  outline: none;
}

.template {
  background-color: rgba(43, 51, 63, 0.5);
}

.template input {
  opacity: 0.4;
}

.transformed {
  transform: rotate(-45deg);
  opacity: 0.8;
}

.container {
  position: absolute;
  left: 22rem;
  z-index: 2;
  background-color: #242b35;
  color: #b5bbc3;
  display: flex;
  align-items: center;
  width: 20rem;
  height: 2.5rem;
  font-size: 1rem;
  font-weight: 500;
  padding-left: 1rem;
}

.container:hover {
  background-color: #323b4a;
}
