<div class="search-item" [ngClass]="{ template: templateElement }">
  <div class="title">
    <form [formGroup]="searchForm" (ngSubmit)="search()">
      <input
        type="text"
        formControlName="search"
        [value]="targetStop"
        (focus)="openPattern()"
        (blur)="closePattern()"
      />
    </form>
  </div>

  <div class="icon" *ngIf="index == 0">
    <i class="ph-swap clickable" (click)="swap()"></i>
  </div>

  <div class="icon" *ngIf="index == 1">
    <i
      class="ph-x clickable"
      (click)="toggleActive()"
      [ngClass]="{ transformed: templateElement }"
    ></i>
  </div>

  <div *ngIf="pattern">
    <button
      class="container"
      *ngFor="let item of patternMatching$ | async | maxten; let i = index"
      [style]="'top:' + (3.2 + 2.5 * i) + 'rem'"
      (click)="setParam(item[0], item[1])"
    >
      <span>
        {{ item[0] }}
      </span>
    </button>
  </div>
</div>
