<div class="search-item" [ngClass]="{ template: templateElement }">
  <div class="title">
    <div class="icon">
      <i
        class="ph-arrows-out-cardinal"
        [style.opacity]="templateElement ? 0 : 1"
      ></i>
    </div>

    <form [formGroup]="searchForm" (ngSubmit)="search()">
      <input
        type="text"
        formControlName="search"
        [value]="targetStop"
        (change)="changeSearchParams($event, index)"
      />
    </form>
  </div>

  <div class="icon">
    <i
      class="ph-x clickable"
      (click)="toggleActive()"
      [ngClass]="{ transformed: templateElement }"
    ></i>
  </div>
</div>
