* {
  transition: 0.3s;
}

.search-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  background-color: #475569;
  border-radius: 12px;
  margin: 0.4rem 0.4rem 0 0.4rem;
}

.title {
  display: flex;
  align-items: center;
}

i {
  color: #0f172a;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon i {
  font-size: 2.4rem;
  padding: 0.4rem;
  border-radius: 50%;
  margin: 0.4rem;
}

.clickable {
  background-color: #cbd5e1;
}

.clickable:hover {
  background-color: #94a3b8;
}

input {
  width: 20rem;
  height: 2.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 12px;
  padding-left: 1rem;
}

.template {
  background-color: rgba(71, 85, 105, 0.2);
}

.template input {
  opacity: 0.4;
}

.transformed {
  transform: rotate(-45deg);
  opacity: 0.8;
}

.container {
  position: absolute;
  top: 3.2rem;
  left: 4.4rem;
  z-index: 2;
  background-color: #64748b;
  display: flex;
  align-items: center;
  width: 20rem;
  height: 2.5rem;
  font-size: 1rem;
  font-weight: 600;
  padding-left: 1rem;
}

.container:hover {
  background-color: #94a3b8;
}
