.settings {
  height: 5rem;
  background-color: #475569;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.4rem;
  margin: 0.4rem;
}

.mode {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  height: 3.5rem;
  border-radius: 12px;
  width: 8rem;
}

.btn-mode {
  height: 100%;
  width: 100%;
  background-color: #cbd5e1;
  color: #1e293b;
  font-size: 1.2rem;
  font-weight: 600;
}

.btn-mode.active {
  background-color: #94a3b8;
}

.date {
  width: 10rem;
}

.time {
  width: 6rem;
}

.time,
.date {
  color: #1e293b;
  height: 2rem;
  border-radius: 12px;
  font-size: 1.2rem;
  text-align: center;
  font-weight: 500;
}

.btn-submit {
  padding: 1rem 2.4rem;
  border-radius: 12px;
  font-size: 1.2rem;
  font-weight: 700;
  color: #1e293b;
  background-color: #cbd5e1;
}

.btn-submit:hover {
  background-color: #1e293b;
  color: #cbd5e1;
}

form {
  display: flex;
  align-items: center;
  gap: 1.4rem;
}
