.settings {
  height: 5rem;
  background-color: #1c222a;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.4rem;
  width: 60rem;
}

.mode {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  height: 3.5rem;
  border-radius: 12px;
  width: 8rem;
  margin-right: 2rem;
}

.btn-mode {
  height: 100%;
  width: 100%;
  background-color: #b5bbc3;
  color: #0e1115;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
}

.btn-mode.active {
  background-color: #0e1115;
  color: #b5bbc3;
}

.date {
  width: 10rem;
}

.time {
  width: 6rem;
}

.time,
.date {
  color: #0e1115;
  height: 2rem;
  border-radius: 12px;
  font-size: 1.2rem;
  text-align: center;
  font-weight: 500;
  outline: none;
}

.btn-submit {
  padding: 1rem 2.4rem;
  border-radius: 12px;
  font-size: 1.2rem;
  font-weight: 700;
  color: #0e1115;
  background-color: #b5bbc3;
}

.btn-submit:hover {
  background-color: #2b333f;
  color: #b5bbc3;
  cursor: pointer;
}

form {
  display: flex;
  align-items: center;
  gap: 2rem;
}

@media only screen and (max-width: 752px) {
  .settings {
    width: 23rem;
  }

  .mode {
    margin-right: 0.8rem;
  }

  form {
    gap: 0.8rem;
  }

  .btn-submit {
    padding: 0.8rem 1.2rem;
  }

  .date {
    width: 3.6rem;
    margin-left: -2.1rem;
    margin-top: -0.2rem;
    color: #fff;
  }

  .time {
    width: 3.6rem;
    margin-left: -1.9rem;
    margin-top: -0.2rem;
    color: #fff;
  }

  .input-container {
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 0.8rem;
    overflow: hidden;
    background-color: #fff;
  }
}
