<div class="settings">
  <div class="mode">
    <button
      type="button"
      class="btn-mode"
      [ngClass]="{ active: (mode$ | async) === 'departure' }"
      (click)="updateMode('departure')"
    >
      Departure
    </button>
    <button
      [value]="mode$ | async"
      type="button"
      class="btn-mode"
      [ngClass]="{ active: (mode$ | async) === 'arrival' }"
      (click)="updateMode('arrival')"
    >
      Arrival
    </button>
  </div>

  <form [formGroup]="dateForm" (ngSubmit)="search()">
    <div class="input-container">
      <input
        class="time"
        type="time"
        formControlName="time"
        (change)="updateTime($event)"
      />
    </div>

    <div class="input-container">
      <input
        class="date"
        type="date"
        formControlName="date"
        (change)="updateDate($event)"
      />
    </div>

    <button type="submit" class="btn-submit">Search</button>
  </form>
</div>
