.settings {
  height: 5rem;
  background-color: #ccc;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.4rem;
  margin: 0.4rem;
}

.mode {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  height: 3.5rem;
  border-radius: 12px;
  width: 8rem;
}

.btn-mode {
  height: 100%;
  width: 100%;
  background-color: #eee;
  font-size: 1.2rem;
  font-weight: 500;
}

.btn-mode.active {
  background-color: #bbb;
}

.date {
  height: 2rem;
  border-radius: 12px;
  width: 10rem;
}

.time {
  height: 2rem;
  border-radius: 12px;
  width: 6rem;
}

.time,
.date {
  font-size: 1.2rem;
  text-align: center;
  font-weight: 500;
}

.btn-submit {
  padding: 1rem 2.4rem;
  border-radius: 12px;
  font-size: 1.2rem;
  font-weight: 700;
}

form {
  display: flex;
  align-items: center;
  gap: 1.4rem;
}
