<div class="container">
  <div class="line" *ngFor="let con of content">
    <div class="header">
      <div class="line-info">{{ con[1].name }} - {{ con[1].direction }}</div>
      <i class="ph-wheelchair" *ngIf="con[1].accessibility"></i>
    </div>

    <div class="notes" *ngIf="con[1]?.Notes">
      <div class="note">
        <i class="ph-info"></i>
        <div class="info-text">
          <p>{{ con[1].Notes?.Note?.$ }}</p>
        </div>
      </div>
    </div>

    <div class="stop" *ngFor="let stop of con[0].Stop; let i = index">
      <span class="time">{{
        i == 0
          ? stop?.rtDepTime
            ? stop.rtDepTime
            : stop.depTime
          : stop?.rtArrTime
          ? stop.rtArrTime
          : stop.arrTime
      }}</span>
      <span>{{ stop.name }}</span>
    </div>
  </div>
</div>
