<div class="container" *ngIf="(details$ | async)?.length === count">
  <div class="line" *ngFor="let line of details$ | async">
    <div class="header">
      <div class="line-info">
        {{ line.leg.name }} - {{ line.leg.direction.split(",")[0] }}
      </div>
      <i class="ph-wheelchair" *ngIf="line.leg.accessibility"></i>
    </div>

    <div class="notes" *ngIf="line.leg?.Notes">
      <div class="note">
        <i class="ph-info"></i>
        <div class="info-text">
          <p>{{ line.leg.Notes?.Note?.$ }}</p>
        </div>
      </div>
    </div>

    <div class="stop" *ngFor="let stop of line.details; let i = index">
      <span class="time">{{
        i == 0
          ? stop?.rtDepTime
            ? stop.rtDepTime
            : stop.depTime
          : stop?.rtArrTime
          ? stop.rtArrTime
          : stop.arrTime
      }}</span>
      <span>{{ stop.name.split(",")[0] }}</span>
      <span>{{ stop.track }}</span>
    </div>
  </div>
</div>

<div class="container" *ngIf="!((details$ | async)?.length === count)">
  <div class="spinner"></div>
</div>
