<div class="settings">
  <div class="mode">
    <button type="button" class="btn-mode active" (click)="toggleDeparture()">
      Departure
    </button>
    <button type="button" class="btn-mode" (click)="toggleArrival()">
      Arrival
    </button>
  </div>

  <form [formGroup]="dateForm" (ngSubmit)="search()">
    <input class="time" type="time" formControlName="time" />
    <input class="date" type="date" formControlName="date" />

    <button type="submit" class="btn-submit" (click)="search()">Search</button>
  </form>
</div>
